body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  padding: 0;
}

.register {
  width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register h3{
    margin-bottom: 12px;
    font-weight: bold;
}

.inputField {
  text-align: start;
  margin-bottom: 12px;
}

/* form */

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #32b90d !important;
  outline: 0;
  box-shadow: unset !important;
}

.formInput.form-control#Image:focus,
.formInput.form-control#phoneNo:focus,
.formInput.form-control#email:focus,
.formInput.form-control#name:focus {
  border-color: #fc8181 !important;
  box-shadow: unset !important;
}

.form-label {
  font-size: 17px !important;
  font-weight: 500 !important;
}

.invalid {
  color: red;
}

.login{
    width: 100%;  
}